h1 {
	font-size: 50px;
	font-weight: 900;
	font-family: Helvetica;
	margin-top: 0px;
	margin-bottom: 0px;
}

p {
	margin: 0px;
	font-size: 20px;
}

table {
	width: 100%;
}

td {
	width: 25%;
}

.border {
	border: 3px solid;
	border-color: #000;
	width: 360px;
	padding: 2px;
	padding-top: 0px;
}

.break {
	border-color: #000;
	margin: 0 auto;
}

/* classes for table */
.first {
	width: 40%;
}

.rest {
	width: 20%;
}

/* ids used for breaks */
#large {
	border: 8px solid;
}

#medium {
	border: 3px solid;
}

#small {
	border: 1px solid;
}

#small_indent {
	border: 1px solid;
	margin-left: 20px;
}

/* ids used for text */
#sm_bold {
	font-weight: bold;
	font-size: 13px;
}

#lg_bold {
	font-weight: bold;
	font-size: 20px;
}

#sm_regular {
	font-size: 15px;
}

#sm_margin {
	margin-left: 10px;
}

#sm_indent {
	margin-left: 20px;
}

#td_indent{
	padding-left: 20px;
}

#float_right {
	float: right;
}