svg {
	margin: auto;
	display: block;
}

footer {
	bottom: 0;
	left: 0;
	position: absolute;
}

#white_text {
	color: white;
}

.department_stats {
	font-size: 2em;
	margin-left: 250px;
	margin-right: 250px;
	text-align: center;
	height: 3em;
}